.h-xl {
	font-size: 88px;
	line-height: 88px;
	letter-spacing: -2.5px;
}

.h-l {
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -1.5px;
}

.h-m {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: normal;
}

.btn {
	color: white;
	text-transform: uppercase;
	color: var(--White, #fff);
	font-family: Space Grotesk;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0.127rem;
   background-color: transparent;
}
